html {
  font-size: 14px;
}

body {
  font-family: Arial, Sans-Serif;
  background:url(../images/casper_open_mouth.jpg) bottom right no-repeat;
  background-attachment:fixed;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

#section-blog {
  .embed {
    min-width: 400px;
    min-height: 500px;
  }
}

.buzzwords {
  font-style: italic;
}

@media screen and (min-width: 900px) {
  section {
    width: 700px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 900px) {
  body {
    background: none;
  }
  section {
    padding: 0 20px;
  }
}