/*
@media screen and (min-width: 900px) {
  section {
    width: 700px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 900px) {
  body {
    background: none;
  }
  section {
    padding: 0 20px;
  }
}
*/