@media screen and (min-width: 900px) {
  header, section .inner {
    width: 960px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  section {
    padding: 0 20px;
  }
}

%box-shadow {
  box-shadow: 5px 5px 5px #ccc;
}

.cols {
  display: flex;
  flex-direction: row;

  .col {
    width: 50%;
  }
}