$section-intro-height: 500px;
$section-customers-height: 400px;

.section-heading {
  color: #FD5845;

  h4 {
    text-transform: uppercase;
  }
}

#section-intro {
  .inner {
    @extend %box-shadow;

    background: url('../images/woman_gear_vr_red_tint.jpg') bottom center no-repeat;
    height: $section-intro-height;
    color: #eee;
    position: relative;
  }

  article {
    position: absolute;
    width: 500px;
    left: 50px;
    bottom: 50px;
  }

  h1 {
    font-style: italic;
  }

  .by-line {
    font-size: 1.2rem;
  }

  .buzzwords {
    font-size: 0.9rem;
    color: #ddd;
    margin-top: 20px;
  }
}

#section-customers {
  padding-top: 100px;

  ul.customer-logos {
    padding: 20px 0 0 0;
    margin: 0 auto;
    overflow: hidden;

    li {
      float: left;
      list-style: none;
      margin-left: 150px;
    }
  }
}

#section-casestudy {
  margin-top: (($section-intro-height+$section-customers-height)/2)*-1;
  padding-top: (($section-intro-height+$section-customers-height)/2) + 100px;
  overflow: hidden;
  margin-bottom: -100px;

  h2 {
    width: 80%;
  }

  article {
    padding-right: 50px;
  }

  .col:last-child {
    width: 505px;
  }

  .animate-on-hover {
    @extend %box-shadow;

    height: 281px;

    &:hover {
      .animated {
        display: inline;
      }

      .still {
        display: none;
      }
    }

    .animated {
      display: none;
    }
  }

  ul.quotes {
    padding: 0;

    li {
      @extend %box-shadow;
      margin-top: 20px;

      &:last-child {
        float: right;
      }

      list-style: none;
      width: 850px;
      overflow: hidden;
    }

    blockquote {
      margin: 0;
      float:left;
      background-color: #fff;
      width: 560px;
      height: 210px;
      padding: 20px;

      p {
        margin: 0;
      }

      footer {
        margin-top: 20px;
      }
    }

    img {
      float:right;
      width: 250px;
      height: 250px;
    }

  }

}

#section-talks {
  padding: 200px 0 100px 0;
  background-color: #fff;

  ul {
    li {
      line-height: 3em;
    }
  }
}

#section-blog {
  padding: 100px 0;

  .embed {
    @extend %box-shadow;

    width: 720px;
    min-height: 500px;
  }
}

#section-about {
  padding-top: 100px;

  h2 {
    width: 70%;
  }

  .col:first-child {
    width: 40%;
  }
  .col:last-child {
    width: 60%;
    text-align: right;
  }

  img {
    @extend %box-shadow;

    opacity: 0.9;
  }
}

#section-contact {
  padding: 100px 0;
  margin-top: -150px;
  background-color: #000;
  color: #fff;

  .section-heading {
    margin-bottom: 100px;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 20px;
    }
  }

  .logo {
    display: block;
    margin: 200px auto 100px auto;
  }
}

section.grey-bg {
  background-color: #F5F5F5;
}