html {
  font-size: 15px;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #3C7BDA;
}

a.with-icon {
  background: url('../images/link.png') left center no-repeat;
  padding-left: 20px;
}


p {
  line-height: 2rem;
}

.cf:after {
  content:"";
  display:table;
  clear:both;
}